::-webkit-scrollbar{
  display: none;
}
:root {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  --primary-color: #006f2c;
  --hightlight-color: #ff5200;
  --dark-color: #333333;
  --light-color: #fff;
  --smoke-color: rgba(0, 0, 0, 0.5);
  --grey-color: #f2f2f2;
  --heading-size: 32px;
}


a {
  text-decoration: none;
  color: var(--dark-color);
}
.container__fluid {
  width: 100vw;
  padding-right: 40px;
  padding-left: 40px;
}
.container__section {
  width: 70%;
}
.-mr-10 {
  margin-right: 10px;
}
[class*="container"] {
  margin: auto;
}
.row,
[class*="col"],
[class*="container"],
[class*="content"],
section,article,aside,nav,header,footer,main {
  position: relative;
  min-height: 1px;
}


}
/* header */
header {
  padding: 2rem 0;
  background-color: var(--light-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}
[class^="title"] {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 1.5;
  letter-spacing: 2px;
  color:var(--primary-color);
  position: relative;
}

.header__logo {
  margin-right: 1rem;
  height: 40px;
}

/* nav */
.nav__menu {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.nav__item {
  display: inline-block;
  font-size: 1.8rem;
  padding: 0.7em 1em;
}
[class*="btn"] {
  display: inline-block;
  font-size: 1.8rem;
  border-radius: 5px;
  padding: 1em 1.4em;
  font-weight: 500;
  text-transform: uppercase;
}
.btn__border--primary {
  padding: 0.6em 1.2em;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

/* footer */
.footer__info {
  padding-top: 120px;
  padding-bottom: 100px;
  background: #e5e5e5 url(../img/foot-info.png) 110% 0px;
  background-blend-mode: soft-light;
}

.footer__logo {
  height: 80px;
}
.title__foot {
  margin-bottom: 0.7em;
}
.text {
  color: var(--dark-color);
  font-size: 1.4rem;
  margin-bottom: 0.8em;
  line-height: 1.5;
}

.title__section {
  font-size: 32px;
}
[class*="subtitle"] {
  font-size: 1.8rem;
  line-height: 1.5;
  color: var(--dark-color);
  margin-bottom: 3em;
  margin-top: 1.5em;
}
/* main */

/* banner */
.banner__item {
  position: relative;
  width: 100vw;
  height: 640px;
}
.curtain {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.banner__content {
  padding: 0 15%;
}

/* section introduction */
  #introduction{
    padding-top: 160px ;
    background-image: url(../img/dot-dot-dot.jpg);
  }
  .author__avatar{
    background-color: #FF5200;
    width:20px;
    height: 20px;
  }
  .author__name{
    color:#FF5200;
  }

  .boxes__icon {
    background-color: var(--light-color);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transform: translateY(50%);
    z-index: 10;
  }

  .box {
    padding: 60px 24px;
    position: relative;
  }

  .box .subtitle {
    margin-bottom: 0;
  }
  .box__icon{
    height: 50px;
  }
  .boxes__icon .box__icon:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 30%;
    right: 0;
    height: 40%;
    border-right: 2px solid #d8d8d8;
  }


  /* section services */
  #services{
    background-image: url(../img/services/services-bg.png);
    padding: 300px 0 180px;

  }
  .owl-carousel-5{
    padding-top:100px;
  }
  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .5rem;
    padding:3rem 3.6rem;
    max-width: 330px;
    transition:all .3s;
  }
  .card__avatar img{
    margin:auto;
  }
  .card__avatar > img.-circle{
    border:6px solid rgba(255, 82, 0, 0.1);
    width:130px !important;
    height: 130px !important;
  }
  .see-more {
    color: var(--hightlight-color);
    font-size: 1.8rem;
    text-transform: uppercase;
    line-height: 1.5;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
  .card__3d{
    height: 460px;
  }
.owl-item .card__3d{
  opacity: .5;
  transform: scale(.6);
}
.owl-item.active .card__3d{
  transform: scale(.8);
  opacity: .9;
}
.owl-stage .active:last-child .card__3d,
.owl-stage .active:first-child .card__3d{
  transform: scale(.9) !important;
}
.owl-item.active.center .card{
  opacity: 1;
  transform:unset;
  margin: auto;
}

/* contact section */
  #contact{
    padding: 80px 0;
    min-height: 700px;
    background-image: url(../img/contact-bg.png);
    display: flex;
    align-items: center;
  }
  .card__contact{
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    padding: 75px 30px 50px;
    background-color: var(--light-color);
    width: auto;
    max-width: 600px;
  }
  .card__contact input,
.card__contact textarea,
.card__contact select {
    position: relative;
    outline: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    padding: 10px 0px 10px 40px;
    border-radius: 5px;
    min-height: 40px;
    color: rgba(0, 0, 0, 0.25);
    font-size: 17px;
}

.card__contact textarea {
    padding-left: 20px;
}

.card__contact input+span img,
.card__contact textarea+span img,
.card__contact select+span img {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 17px;
    width: 17px;
}
.bordered {
  border-color: transparent;
  border-style: solid;
  border-bottom-width: 24px;
  border-right-width: 23px;
}

.bordered:nth-child(even),
.bordered:nth-child(5) {
  border-right-width: 0;
}
[type='button'],button{
  outline: none;
}
/* post-news section */
  #news{
    padding:140px 0;
    background-color: var(--grey-color);
  }
/* customers section */
  #customers{
    padding:110px 0;
  }
  .card__post{
    padding:0 0 50px;
  }
  .card__post .card__avatar{
    height:200px;
  }
  .card__content{
    padding: 20px 30px;
  }
  .card__post .see-more{
    transform: unset;
    left: 30px;
    bottom:40px;
  }
/* consult section */
  #consult{
    padding:75px 0;
    background-image: url(../img/consult.png);
  }















[class*='fluid']{
  width: 100%;
  height: 100%;
}
[class*='bg']{
  background: no-repeat center center;
}
.bg--cover{
  background-size:cover;
}
.bg--contain{
  background-size: contain;
}
[class*='-circle']{
  border-radius: 50%;
}
[class*="underline"] {
  display: inline-block;
  padding-bottom: .7em;
  position: relative;
}
[class*="underline"]::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 35%;
  width: 30%;
  border-top: 3px solid rgba(0, 0, 0, 0.25);
}
/* set color */
/* text */
[class*="-txt-smoke"] {
  color: var(--smoke-color);
}
[class*="-txt-dark"] {
  color: var(--dark-color);
}
[class*="-txt-primary"] {
  color: var(--primary-color);
}
[class*="-txt-hightlight"] {
  color: var(--hightlight-color);
}
[class*="-txt-light"] {
  color: var(--light-color);
}
[class*="-txt-grey"] {
  color: var(--grey-color);
}
/* bg */
[class*="-bg-grey"] {
  background-color: var(--grey-color);
}
[class*="-smoke-dark"] {
  background-color: var(--smoke-color);
}
[class*="-bg-dark"] {
  background-color: var(--dark-color);
}
[class*="-bg-primary"] {
  background-color: var(--primary-color);
}
[class*="-bg-hightlight"] {
  background-color: var(--hightlight-color);
}
[class*="-bg-light"] {
  background-color: var(--light-color);
}
/* size */
[class*="-size-20"] {
  font-size: 20px ;
}
[class*="-size-18"] {
  font-size: 18px ;
}
[class*="-size-16"] {
  font-size: 16px ;
}
[class*="-size-17"] {
  font-size: 17px ;
}
[class*="-size-14"] {
  font-size: 14px ;
}
[class*="-size-12"] {
  font-size: 12px ;
}

[class*="-size-20"] {
  font-size: 20px ;
}
[class*="-size-28"] {
  font-size: 28px ;
}
[class*="-size-56"] {
  font-size: 56px ;
}
.hamburger {
  position: absolute;
  left: 10px;
  font-size: 26px;
  color:var(--primary-color);
}
/* owl-carousel setting */
.owl-nav>button {
  top: 50%;
  z-index: 101;
  position: absolute;
  background-color: rgba(225, 225, 225, .2) !important;
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.owl-nav>button>span {
  font-size: 3.8rem;
  color: var(--light-color);
  line-height: .6;
}

.owl-prev {
  transform: translate(-50%, -50%);
  left: 45px;
}

.owl-next {
  transform: translate(50%, -50%);
  right: 45px;
}

.owl-dots {
  vertical-align: middle;
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.owl-dot {
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  width: 8px;
  height: 8px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: rgba(225, 225, 225);
  opacity: .5;
}

.owl-dot.active {
  opacity: 1 !important;
}

.controls-outline .owl-dots {
  position: relative;
  transform: none;
  left: 0;
  text-align: center;
  bottom: -60px;
}

.controls-outline .owl-nav {
  position: relative;
  top: 70px;
  width: 25%;
  margin: auto;
}
